section.blog-home
  .container
    
    .row
      .heading.text-center
        h2 Últimos artículos
        p tips para diseñar y desarrollar para la web
    
    .row
    
      // Article #1
      .col-xs-12.col-sm-6.col-md-4
        - articleImg = path.imgArticles+"stylus.jpg"
        - articleTitle = 'Goodbye CSS, Welcome Stylus'
        - articleLink = 'http://www.google.com.co'
          include ../components/home-article.jade
      
      // Article #2
      .col-xs-12.col-sm-6.col-md-4
        - articleImg = path.imgArticles+"jade.jpg"
        - articleTitle = 'Goodbye CSS, Welcome Stylus'
        - articleLink = 'http://www.google.com.co'
          include ../components/home-article.jade
      
      // Article #3
      .col-xs-12.col-sm-6.col-md-4
        - articleImg = path.imgArticles+"java.jpg"
        - articleTitle = 'Goodbye CSS, Welcome Stylus'
        - articleLink = 'http://www.google.com.co'
          include ../components/home-article.jade
          
      // Article #4  
      .col-xs-12.col-sm-6.col-md-4
        - articleImg = path.imgArticles+"java.jpg"
        - articleTitle = 'Goodbye CSS, Welcome Stylus'
        - articleLink = 'http://www.google.com.co'
          include ../components/home-article.jade
          
      // Article #5    
      .col-xs-12.col-sm-6.col-md-4
        - articleImg = path.imgArticles+"java.jpg"
        - articleTitle = 'Goodbye CSS, Welcome Stylus'
        - articleLink = 'http://www.google.com.co'
          include ../components/home-article.jade
          
      // Article #6    
      .col-xs-12.col-sm-6.col-md-4
        - articleImg = path.imgArticles+"java.jpg"
        - articleTitle = 'Goodbye CSS, Welcome Stylus'
        - articleLink = 'http://www.google.com.co'
          include ../components/home-article.jade
