footer
  .container
    figure.logo.wow.fadeIn
      a(href="index.html")
        img.bounce(src=imgPath+"logo.svg" alt="mostachopus logo")
    ul.footer-links
      li.wow.slideInUp 
        a(href="#") portafolio
      li.wow.slideInUp
        a(href="#") blog
      li.wow.slideInUp 
        a(href="#") quien soy     
