footer
  .container
    figure.logo.wow.fadeIn
      a(href="index.html")
        img.bounce(src=path.img+"logo.svg" alt="mostachopus logo")
    ul.footer-links
      li.wow.slideInUp 
        a(href=path.portfolio) portafolio
      li.wow.slideInUp
        a(href=path.blog) blog
      li.wow.slideInUp 
        a(href=path.about) sobre mi    
