header
  .container.text-center
    figure.logo
      a(href="index.html")
        img.bounce(src=imgPath+"logo.svg" alt="mostachopus logo")
    h1.main-title mostachopus
    h2.sub-main-title diseño y desarrollo web
    
