header
  .container.text-center
    figure.logo.wow.fadeIn
      a(href="index.html")
        img.bounce(src=path.img+"logo.svg" alt="mostachopus logo")
    h1.main-title.wow.slideInUp mostachopus
    h2.sub-main-title.wow.slideInUp diseño y desarrollo web
    
