nav
  ul.cd-primary-nav
    li
      a(href="#0") The team
    li
      a(href="#0") Our services
    li
      a(href="#0") Our projects
    li
      a(href="#0") Start a project
    li
      a(href="#0") Join in
    li
      a(href="#0") Create an account
