script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src="./js/bootstrap.min.js")
// Use to nav animation
script(src="./js/velocity.min.js")
// Use with animate.css to site animations
script(src="./js/wow.min.js")
// Use to article images animations
script(src="./js/tiltfx.js")
script(src="./js/core.js")
