// Meta Tags
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
// Site title
title= site.name + titleSeparator + site.slogan
// Favicon + Styles
link(rel="shortcut icon" href="./assets/fav.ico")
link(rel="stylesheet" href="./css/style.css")
// Google Fonts
link(href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather:400,300,700" rel="stylesheet" type="text/css")
// Material Icons
link(href="http://cdn.materialdesignicons.com/1.1.70/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css")
