// General
- site = {name: 'Mostachopus', slogan: 'Blog para diseñadores y desarrolladores web'}
- titleSeparator = ' | '

// Paths
- path = {img: './assets/', imgArticles: './assets/articles/', portfolio: 'portafolio.html', blog: 'blog.html', blogArticle: 'blog-articulo.html', about: 'sobre-mi.html'}
