header

  width auto
  height 100%
  background url($imgPath+'structure/intro.jpg') center center no-repeat
  background-size cover
  overflow hidden

  .logo

    width 200px
    height 200px
    margin 8em auto 2em auto

    @media $laptop
      // Code here
    @media $tablet
      // Code here
    @media $phone
      // Code here

    img

      width 200px
      height 200px

      @media $laptop
        // Code here
      @media $tablet
        // Code here
      @media $phone
        // Code here

  .main-title

    color $white
    margin-bottom .2em

    @media $laptop
      // Code here
    @media $tablet
      // Code here
    @media $phone
      // Code here

  .sub-main-title

    color $gray-lighter
    text-transform lowercase
    font-family $merriweather
    font-weight normal

    @media $laptop
      // Code here
    @media $tablet
      // Code here
    @media $phone
      // Code here
