ul.grid.grid--examples
  li.grid__item
    .grid__img.grid__img--example-3
      a(href=articleLink)
        img.tilt-effect(src=articleImg alt=articleTitle data-tilt-options='{ "movement": { "perspective" : 700, "translateX" : -5, "translateY" : -5, "translateZ" : -5, "rotateX" : 2, "rotateY" : 2 } }')
