include ./includes/variables.jade
<!DOCTYPE html>
html(lang="es")
  head
    include ./includes/head.jade
  body
    
    // Menu items
    include ./includes/structure/menu-items.jade
    
    // Header
    include ./includes/structure/header.jade
    
    // Blog 3 latest articles
    include ./includes/structure/blog-home.jade
            
    // Nav animation
    include ./includes/structure/nav.jade
    
    // Footer
    include ./includes/structure/footer.jade
    include ./includes/footer-scripts.jade
