/* Paths */

$imgPath = '../assets/'

/* Colors */

$primary-color-light = #73bcbc
$primary-color = #33a9ab
$primary-color-dark = #1d8688

$secondary-color-light = #4d5f6d
$secondary-color = #303a45
$secondary-color-dark = #242c33

$white = #f9f9f9
$gray-text = #9c9c9c

$gray-darker = #222
$gray-dark = #333
$gray = #555
$gray-light = #777
$gray-lighter = #eee

$facebook-color = #3d5a98
$twitter-color = #5fa9dd

/* Typography */

$sans = 'Montserrat', Helvetica, Arial, sans-serif
$serif = 'Merriweather', Georgia, serif
$mono = 'Inconsolata', Georgia, serif

/* Structure */

/* Components */

/* Paddings */

$gutter-xs = .5em
$gutter-s = 1em
$gutter-m = 1.5em
$gutter-l = 2em

$gutter-tb-xs = .5em 0
$gutter-tb-s = 1em 0
$gutter-tb-m = 1.5em 0
$gutter-tb-l = 2em 0

$gutter-lr-xs = 0 .5em
$gutter-lr-s = 0 1em
$gutter-lr-m = 0 1.5em
$gutter-lr-l = 0 2em

/* Responsive */

$screen-xs = 480px
$screen-xs-min = $screen-xs
$screen-xs-phone = $screen-xs-min

$screen-sm = 768px
$screen-sm-min = $screen-sm
$screen-tablet = $screen-sm-min

$screen-md = 992px
$screen-md-min = $screen-md
$screen-desktop = $screen-md-min

$screen-lg = 1200px
$screen-lg-min = $screen-lg
$screen-lg-desktop = $screen-lg-min

$screen-xs-max = ($screen-sm-min - 1)
$screen-sm-max = ($screen-md-min - 1)
$screen-md-max = ($screen-lg-min - 1)

$desktop = "(min-width: $screen-lg)"
$laptop = "(min-width: $screen-md) and (max-width: $screen-md-max)"
$tablet = "(min-width: $screen-sm) and (max-width: $screen-sm-max)"
$phone = "(max-width: $screen-xs-max)"
$small-phone = "(max-width: $screen-xs)"
