/* General */

*,
*::after,
*::before

  box-sizing border-box

*::after,
*::before
  content ''

html,
body

  height 100%

body

  font-size 16px
  font-family $serif
  color $gray
  background $white

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6

  font-family $sans
  font-weight bold
  text-transform uppercase
  margin 0
  padding 0

h1

  font-size 2.5em

  @media $laptop
    font-size 2.2em
  @media $tablet
    font-size 1.9em
  @media $phone
    font-size 1.6em

h2

  font-size 2em

  @media $laptop
    font-size 1.7em
  @media $tablet
    font-size 1.4em
  @media $phone
    font-size 1.1em

/* Paragraphs */

p

  padding 0
  margin 0

/* Lists */

ul

  list-style-type none
  margin 0
  padding 0

/* Anchors */

a

  color $primary-color-dark
  transition .3s color ease-in

  &:hover

    color $primary-color-light

a,
a:hover,
a:link,
a:visited,
a:active

  outline none
  text-decoration none

*:focus

  outline none
